NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=qik_accounts_ledger
DB_SYNCHRONIZE=false
DB_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=replace-with-a-secure-secret
JWT_EXPIRES_IN=1h

SEED_USER_EMAIL=seed.user@example.com
SEED_USER_PASSWORD=Password123!
SEED_USER_NAME=Alexander
SEED_USER_LAST_NAME=Batista
SEED_ACCOUNT_NUMBER=QIK-SEED-0001
SEED_ACCOUNT_CURRENCY=DOP
SEED_ACCOUNT_BALANCE=100000.0000
